<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: html-head">
</head>
<body>
<div th:replace="fragments/common :: header"></div>

<div class="messageList container-fluid mt-5 pl-5 pr-5">
    <h2 style="font-weight: bold">메시지 리스트</h2>
    <p>현재 발행된 메시지 기록을 볼 수 있습니다.</p>

    <div class="d-flex flex-row-reverse">
        <div class="input-group mb-3">
            <input id="topicSearchInput" type="text" class="form-control" placeholder="토픽이름을 입력하세요"  >
            <div class="input-group-append">
                <button class="btn btn-primary" onclick="search()">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    <table id="messageRequestTable" class="table">
        <caption>Message Request List</caption>
        <thead>
            <tr class="table-primary">
                <th scope="col">index</th>
                <th scope="col">ID</th>
                <th scope="col">토픽ARN</th>
                <th scope="col">목적지</th>
                <th scope="col">메시지</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="req,index : ${requests}">
                <td th:text="${index.index+1}"></td>
                <td th:text="${req.id}"></td>
                <td th:text="${req.topicArn}"></td>
                <td th:text="${req.targetArn}"></td>
                <td>
                   <p th:each="element : ${req.message}">
                       <code th:text="${element.key}" class="pr-3"></code>
                       <samp th:text="${element.value}"></samp>
                   </p>
                </td>
                <td>
                    <a th:href="@{/list/delete(id=${req.id})}" class="btn btn-danger">
                        <span style="color: white;">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/common :: footer"></div>
<script src="/js/search.js"></script>
</body>
</html>