<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>message List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
<div class="bg-green">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">index</th>
                <th scope="col">ID</th>
                <th scope="col">REQ</th>
                <th scope="col">DELETE</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="msg,index : ${messages}">
                <td  scope="row" th:text="${index.index+1}"></td>
                <td th:text="${msg.id}"></td>
                <td th:text="${msg.request}"></td>
                <td>
                    <a th:href="@{list/delete(id=${msg.id})}" class="btn btn-danger">X</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>